* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(#8e0e00, #1f1c18) no-repeat;
  min-height: 100vh;
  font-family: 'Archivo Narrow', sans-serif;
}
h1 {
  font-size: 3rem;
  margin-bottom: .5em;
  color: #1f1c18;
  text-transform: uppercase;
}
.container {
  padding: 2em;
  text-align: center;
}
.carousel-container {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto 2em;
}
.btn {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: auto .5em;
  color: #1f1c18;
  background: rgba(255,255,255,0.7);
  outline: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.btn:hover {
  background: rgba(255,255,255,0.8);
}
.disabled {
  opacity: .5;
  cursor: not-allowed;
}
